* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: #282c34;

}
.app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}
.logo-de-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.lcontador-logo{
  height: 50px;
}
.contenedor-principal{
   height: 550px;
   width: 600px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}